%def contents():
%enddef
<html>
<head>
<title>Fiole</title>
<style type="text/css">
table {border-collapse: collapse; margin-left: 4%;}
td {border: 1px solid lightgray; padding: 1px 5px;}
a:visited, a:active {color: blue;}
</style>
</head>
<body>
{{ contents() }}\
</body>
</html>
